<%- include('components/head')%>
<body>
  <%- include('components/navbar')%>
  <div class="container">
    <h2>Random number is <%= num %></h2>
    <h3>It's an <%= num%2 === 0? "even":"odd" %> number.</h3>
  </div>
</body>
<%- include('components/footer')%>
